{% extends 'base.html' %}

{% load custom_filters %}
{% block title_block %} Search Results {% endblock %}
{% block body_block %}
<h2>Search results:</h2>
<br>
{% if blogs|length < 1 %}

<p>Did you mean: {{query}}
<p></p><b>Your query - {{query}} - did not match any documents.</b></p>
<ul>
    <li>
<p>Try different keywords.</p>
    </li>
</ul>
<ul>
    <li>
<p>Try more general keywords.</p>
    </li>
</ul>
{% endif %}
{% for blog in blogs %}

<div class="row">
<div class="col-sm-2 ">
   <img src="/media/{{ blog.blog_image }}" alt="{{blog.blog_image}}" title="{{blog.blog_title}}"
        width="60%">

</div>
    <div class="col-sm-8">
        <p>{{blog.blog_content|range_filter|linebreaks}} <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read More</a></p>
        <p><div class="fb-like" data-href="http://127.0.0.1:8000/blog/{{blog}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div></p>
        <p><div class="fb-page" data-href="http://127.0.0.1:8000/blog/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div></p>
        <h6>Posted By: <a href="{% url 'App_Login:profile' %}">@{{blog.author}}</a> </h6>

    </div>
</div>

<hr>



{% endfor %}
{% endblock %}